@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lato:wght@400;700;900&display=swap');

body {
	--grant-primary-color: #00293A;
	--grant-secondary-color: #FFDD00;
	--grant-white-color: #FAFAFF;
    --grant-font-family: 'Lato', sans-serif;
}

.grant-filter-wrapper {
    width: 100%;
    margin: 0 !important;
	padding: 0 !important;
}

.grant-filter-wrapper *,
.grant-list-wrapper * {
	font-family: var(--grant-font-family);
	color: var(--grant-primary-color);
}

.grant-filter-form {
    display: flex;
	gap: 16px;
	flex-wrap: wrap;
}

.grant-filter-form .grant-filter-form-field:last-child {
	margin-left: auto;
}

.grant-filter-form #grant_search {
    min-width: 200px;
    max-width: 460px;
    min-height: 50px;
    border-radius: 0;
    border: 3px solid var(--grant-primary-color);
    box-sizing: border-box;
    font-size: 16px;
    padding: 5px 25px 5px 45px;
	background-image: url('./../svg/Search.svg');
	background-repeat: no-repeat;
	background-position: 17px center;
    background-size: 16px;
}

.grant-filter-form #grant_search::placeholder {
    color: var(--grant-primary-color);
}

.grant-custom-dropdown {
	position: relative;
}

.grant-custom-dropdown .grant-custom-dropdown--trigger,
.grant-filter-mobile-modal-trigger .modal-trigger {
    min-height: 50px;
    box-sizing: border-box;
    border: none;
    background: #EDF0F5;
    padding: 16px 52px 16px 20px;
    font-size: 18px;
	font-weight: bold;
    line-height: 21px;
	cursor: pointer;
	letter-spacing: .5px;
}

.grant-custom-dropdown .grant-custom-dropdown--trigger::after,
.grant-filter-mobile-modal-trigger .modal-trigger::after {
	content: '';
    position: absolute;
    width: 20px;
    height: 12px;
    transform: translateX(12px) translateY(5px);
	background: url('./../svg/Union.svg');
}

.grant-custom-dropdown .grant-custom-dropdown--list {
	visibility: hidden;
    opacity: 0;
    background: var(--grant-white-color);
    padding: 0 20px;
    position: absolute;
    width: 0;
    transform: translateY(35px);
	transition: opacity 0.3s ease-out, visibility 0.3s ease-out 0.5s, transform 0.2s ease-out, width 0s ease-out .5s;
	max-height: 400px;
    overflow-y: auto;
}

.grant-custom-dropdown.is-open .grant-custom-dropdown--list {
    visibility: visible;
    opacity: 1;
	width: 288px;
    transform: translateY(10px);
    transition: opacity 0.3s ease-out, transform 0.2s ease-out;
	z-index: 10;
}

.grant-filter-form .grant-filter-form-field:last-child .grant-custom-dropdown--list {
    right: 0;
}

.grant-custom-dropdown--range {
    display: flex;
    gap: 48px;
}

.grant-custom-dropdown--range fieldset {
    margin: 0;
    border: none;
    padding: 0;
}

.grant-custom-dropdown--range fieldset label {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 4px;
    line-height: 26px;
}

.grant-custom-dropdown--list-item h5 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: bold;
}

.grant-custom-dropdown--range fieldset input {
    border: 3px solid var(--grant-primary-color);
    padding: 13px 20px;
    font-size: 16px;
    line-height: 21px;
    box-sizing: border-box;
    max-width: 120px;
}

.grant-custom-dropdown--list-item {
    font-size: 18px;
    padding: 15px 0;
    line-height: 21px;
	font-weight: bold;
	cursor: pointer;
	position: relative;
}

.grant-custom-dropdown--list-item.is-active::after {
	content: '';
    position: absolute;
	background-image: url('./../svg/Done.svg');
    width: 18px;
    height: 14px;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.grant-custom-dropdown--list-item.is-active:has(> .grant-custom-dropdown--range)::after {
    margin-top: 20px;
}

.grant-list-wrapper .grant-list-item:last-child {
	border-bottom: 1px solid var(--grant-primary-color);
}

.grant-list-item{
    display: flex;
    align-items: center;
    border-top: 1px solid #3F6170;
    padding: 48px 0;
}

.grant-list-item .right-part {
    margin-left: auto;
}

.grant-list-item h2 {
    margin-top: 0;
    margin-bottom: 20px;
	font-size: 32px;
	font-weight: bold;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

.grant-list-item p {
    margin-bottom: 8px;
    margin-top: 0;
    font-size: 16px;
}

.grant-list-item p:last-child {
    margin-bottom: 0;
}

.grant-list-wrapper button {
    background: var(--grant-primary-color);
    border: none;
    padding: 16px 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
	color: #FFDD00;
	cursor: pointer;
}

.grant-list-item button a {
    color: #FFDD00;
    text-decoration: none;
}

.grant-list-footer {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 64px;
    margin-bottom: 32px;
}


.grant-filter-list-wrapper {
    display: flex;
    border-top: 1px solid var(--grant-primary-color);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    align-items: flex-start;
    visibility: hidden;
    height: 0;
    position: relative;
    box-sizing: border-box;
    transform: translateY(0px);
    transition: all 0.65s ease-out, transform .35s ease-out .05s, height .35s ease-out, visibility .35s ease-out;
}

.grant-filter-list-wrapper.is-active {
    height: 100%;
    visibility: visible;
    margin-bottom: 96px;
    margin-top: 24px;
    padding-top: 24px;
    transform: translateY(0);
    transition: all 0.5s ease-in-out, visibility 0.25s ease-in 0.25s, height 0.25s ease-in 0.25s;
}

.grant-filter-list {
    display: flex;
    gap: 8px 16px;
    flex-wrap: wrap;
}

.grant-filter-list-wrapper #clear-filter {
    margin-left: auto;
    padding: 16px 20px;
    border: none;
    background: #F15623;
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
	flex-shrink: 0;
	cursor: pointer;
}

.grant-filter-list--item {
    font-size: 18px;
    line-height: 21px;
    border: 3px solid #F15623;
    color: #F15623;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 13px 17px 13px 17px;
}

.grant-filter-list--item button {
    margin-right: 12px;
    width: 13px;
    height: 13px;
    padding: 0;
    border: none;
    background: url('./../svg/Close.svg');
	background-size: cover;
    cursor: pointer;
}

.grant-filter-mobile-modal-trigger .modal-trigger {
    display: none;
    margin-top: 16px;
}

/**
 * Modal
 */
 .grant-filter-modal-wrapper {
    visibility: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -999;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background: rgba(0,0,0,.5);
    transition: opacity .35s ease-out;
    font-family: var(--grant-font-family);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grant-filter-modal-wrapper.is-open {
    visibility: visible;
    opacity: 1;
    z-index: 999;
    transition: opacity .25s ease-in .15s;
}

.grant-filter-modal {
    width: 85vw;
    max-width: 320px;
    max-height: 65vh;
    background: #fff;
    box-sizing: border-box;
    padding: 32px 20px;
    overflow-y: auto;
}

.grant-filter-item {
    margin-bottom: 32px;
    border-bottom: 1px solid var(--grant-primary-color);
}

.grant-filter-item:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
}

.grant-filter-item--title {
    font-family: var(--grant-font-family);
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.grant-filter-item--list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.grant-filter-item--list-item {
    padding: 16px 0;
}

.grant-filter-item--list-item::after {
    content: '';
    background-image: url('./../svg/Done.svg');
    display: inline-block;
    width: 16px;
    height: 16px;
    float: right;
    filter: brightness(0) opacity(0.05);
}

.grant-filter-item--list-item.is-active::after {
    filter: none;
}

.grant-filter-item--list-item:last-child {
    padding-bottom: 32px;
}

.grant-filter-modal-close {
    margin-top: 32px;
}

.grant-filter-modal-close .modal-close {
    font-size: 16px;
    line-height: 26px;
    background: none;
    color: #fff;
    border: none;
    font-weight: bold;
    font-family: var(--grant-font-family);
}

.grant-filter-modal-close .modal-close::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('./../svg/Close.svg');
    margin-right: 12px;
    background-size: 16px;
    filter: brightness(0) invert(1);
}

/**
 * Mobile
 */
@media (max-width: 840px) {
	.grant-filter-form {
		justify-content: center;
	}

	.grant-filter-form .grant-filter-form-field:last-child {
		margin-left: 0;
	}
}

@media (max-width: 560px) {
	.grant-filter-form {
		flex-direction: column;
		align-items: stretch;
	}

	.grant-filter-form-field > *,
	.grant-custom-dropdown--list,
	.grant-custom-dropdown--trigger,
    .grant-filter-mobile-modal-trigger .modal-trigger {
		width: 100%;
	}

	.grant-custom-dropdown.is-open .grant-custom-dropdown--list {
		width: calc( 100% - 40px );
	}

	.grant-custom-dropdown .grant-custom-dropdown--trigger,
    .grant-filter-mobile-modal-trigger .modal-trigger {
		background: var(--grant-primary-color);
		color: var(--grant-white-color);
	}

	.grant-custom-dropdown .grant-custom-dropdown--trigger::after,
    .grant-filter-mobile-modal-trigger .modal-trigger::after {
		filter: invert(1) brightness(2);
	}

	.grant-list-item {
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;
		gap: 36px;
	}

	.grant-list-wrapper button {
		width: 100%;
	}

	.grant-list-item .right-part {
		margin-left: 0;
	}

	.grant-list-footer {
		flex-direction: column;
		gap: 16px;
	}

	.grant-filter-list-wrapper {
		justify-content: center;
		border: none;
		padding: 0;
		margin-top: 32px;
		margin-bottom: 36px;
	}

	.grant-filter-list {
		display: none;
	}

	.grant-filter-list-wrapper #clear-filter {
		margin-left: 0;
		background: none;
		color: rgba(0,41,48, .5);
		letter-spacing: 0;
		text-transform: capitalize;
	}

	.grant-filter-list-wrapper #clear-filter::before {
		content: '';
		display: inline-block;
		width: 16px;
		height: 16px;
		background: url('./../svg/Close.svg');
		margin-right: 12px;
		background-size: 16px;
		filter: invert(1) brightness(0.2) opacity(0.5);
	}

    .grant-filter-form .grant-filter-form-field {
        display: none;
    }

    .grant-filter-form .grant-filter-form-field:first-child,
    .grant-filter-form .grant-filter-form-field:last-child {
        display: block;
    }

    .grant-filter-mobile-modal-trigger .modal-trigger {
        display: block;
    }
}
