@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lato:wght@400;700;900&display=swap');

body {
	--grant-primary-color: #00293A;
	--grant-secondary-color: #FFDD00;
}

.grant-filter-wrapper {
    width: 100%;
    margin: 0 !important;
	padding: 0 !important;
}

.grant-filter-wrapper *,
.grant-list-wrapper * {
	font-family: 'Lato', sans-serif;
	color: var(--grant-primary-color);
}

.grant-filter-form form {
    display: flex;
	gap: 16px;
}

.grant-filter-form form .grant-filter-form-field:last-child {
	margin-left: auto;
}

.grant-filter-form form #grant_search {
    min-width: 200px;
    max-width: 460px;
    min-height: 50px;
    border-radius: 0;
    border: 3px solid var(--grant-primary-color);
    box-sizing: border-box;
    font-size: 16px;
    padding: 5px 25px 5px 45px;
	background-image: url('./../svg/search.svg');
	background-repeat: no-repeat;
	background-position: 17px center;
    background-size: 16px;
}

.grant-filter-form form #grant_search::placeholder {
    color: var(--grant-primary-color);
}

.grant-custom-dropdown {
	position: relative;
}

.grant-custom-dropdown .grant-custom-dropdown--trigger {
    min-height: 50px;
    box-sizing: border-box;
    border: none;
    background: #EDF0F5;
    padding: 16px 52px 16px 20px;
    font-size: 18px;
	font-weight: bold;
    line-height: 21px;
	cursor: pointer;
	letter-spacing: .5px;
}

.grant-custom-dropdown .grant-custom-dropdown--trigger::after {
	content: '';
    position: absolute;
    width: 20px;
    height: 12px;
    transform: translateX(12px) translateY(5px);
	background: url('./../svg/Union.svg');
}

.grant-custom-dropdown .grant-custom-dropdown--list {
	visibility: hidden;
    opacity: 0;
    background: #fafaff;
    padding: 20px;
    position: absolute;
    min-width: 200px;
    transform: translateY(35px);
	transition: opacity 0.3s ease-out, visibility 0.3s ease-out 0.5s, transform 0.2s ease-out;
	font-family: 'Lato', sans-serif;
}

.grant-custom-dropdown.is-open .grant-custom-dropdown--list {
    visibility: visible;
    opacity: 1;
    transform: translateY(10px);
    transition: opacity 0.3s ease-out, transform 0.2s ease-out;
}

.grant-filter-form form .grant-filter-form-field:last-child .grant-custom-dropdown--list {
    right: 0;
}

.grant-custom-dropdown--range {
    display: flex;
    gap: 48px;
}

.grant-custom-dropdown--range fieldset {
    margin: 0;
    border: none;
    padding: 0;
}

.grant-custom-dropdown--range fieldset label {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 4px;
    line-height: 26px;
}

.grant-custom-dropdown--list-item h5 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: bold;
}

.grant-custom-dropdown--range fieldset input {
    border: 3px solid var(--grant-primary-color);
    padding: 13px 20px;
    font-size: 16px;
    line-height: 21px;
    box-sizing: border-box;
    max-width: 120px;
}

.grant-custom-dropdown--list-item {
    font-size: 18px;
    padding: 15px 0;
    line-height: 21px;
	font-weight: bold;
	cursor: pointer;
}

.grant-custom-dropdown--list .grant-custom-dropdown--list-item:first-child {
    padding-top: 0;
}

.grant-custom-dropdown--list .grant-custom-dropdown--list-item:last-child {
    padding-bottom: 0;
}

.grant-list-wrapper .grant-list-item:last-child {
	border-bottom: 1px solid var(--grant-primary-color);
}

.grant-list-item{
    display: flex;
    align-items: center;
    border-top: 1px solid #3F6170;
    padding: 48px 0;
}

.grant-list-item .right-part {
    margin-left: auto;
}

.grant-list-item h2 {
    margin-top: 0;
    margin-bottom: 20px;
	font-size: 32px;
	font-weight: bold;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

.grant-list-item p {
    margin-bottom: 8px;
    margin-top: 0;
    font-size: 16px;
}

.grant-list-item p:last-child {
    margin-bottom: 0;
}

.grant-list-wrapper button {
    background: var(--grant-primary-color);
    border: none;
    padding: 16px 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
	color: #FFDD00;
	cursor: pointer;
}

.grant-list-item button a {
    color: #FFDD00;
    text-decoration: none;
}

.grant-list-footer {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 64px;
    margin-bottom: 32px;
}
